<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO-LIST</title>
  </head>
  <body>
    <div>
      <div>
        <h1>TODO-LIST</h1>
      </div>
      <form action="{{ url_for('update_note', pk=note.id) }}" id="note-form" method="post">
        <button type="submit">
          <span></span> Редактировать
        </button>
        <textarea id="updated_parts" name="updated_parts">{{ note.content }}</textarea>
      </form>
      <div style="clear:both;"></div>
    </div>
  </body>
</html>